$primary-color: #FF9800;
$secondary-color: #EF6C00;

.Layout {
    margin: 1rem auto;
    max-width: 850px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1rem;
}

.HashtagInput {
    margin-left: 2px;
}

.IGIcon {
    vertical-align: middle;
    margin-bottom: 5px;
    color: $secondary-color;
}

.SearchBtn {
    margin-left: 5px;
    cursor: pointer;
    outline: none;
    background: none;
    border: 0;

    &:hover {
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
    }
}

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }

    @-moz-keyframes #{$animation-name} {
        @content;
    }

    @-ms-keyframes #{$animation-name} {
        @content;
    }

    @-o-keyframes #{$animation-name} {
        @content;
    }

    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};
}

@include keyframes(spinAround) {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.SearchIcon {
    font-size: 1.5rem;
    vertical-align: middle;
    margin-bottom: 3px;
    cursor: pointer;
    margin-left: 8px;
}

.ErrorMessage {
    font-size: 0.7rem;
    color: red;
    margin-right: 20px;
}

.SearchResult {
    color: $primary-color;
    text-align: start;
}
